.name{
  padding:5px;
  margin:20px;
}
.weatherTile {
    background-color: rgba(50,50,50,0.2);
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.3);
	text-shadow:
    0 0 5px #fff,
    0 0 10px #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.one_third {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:200px;
    height:120px;
    margin:0;
    text-align: center;
    font-size: 1.5em;
}
