.settingsTile {
	background-color: rgba(50,50,50,0.2);
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.3);
	text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 50px #68ffc8,
    0 0 75px #68ffc8;
}

.time{
	color:white;
	font-size: 4em;
	text-align:center;
	font-family: 'Rubik', sans-serif;
}

.date {
	color:white;
	font-size: 1.5em;
	text-align:center;
	font-family: 'Rubik', sans-serif;
}
