.desc{
  background-color:#d0d5f2;
  padding:10px;
  margin:10px;
}

.settingsBar {
    position:relative;
}

.fixedright {
    position:fixed;
    right:5px;
    top:5px;
}
h2 {
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 3em
}
h2:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #fff;
    animation: loading 8s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}
